{% extends 'admin/base.html' %}

{% load static %}


{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}


<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
<br><br>
<br>


 
    <div class="section-title">
          
      <p> {{ app.restaurant.user.first_name }} </p>

    </div>
 
  
  </div>
  


 
 
</section><!-- End Contact Section -->




<section id="gallery" class="gallery">

  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Gallery</h2>
      <p>Some photos from Our Restaurant</p>
    </div>
  </div>

  <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

    <div class="row g-0">
      {% for i in app1  %}


      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{{ i.image.url }}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{{ i.image.url }}" alt="" class="img-fluid">
          </a>
        </div>
      </div>
{% endfor %}
    </div>

  </div>
</section><!-- End Gallery Section -->





  
<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Menu</h2>
        <p>Check Our Tasty Menu</p>
      </div>

      {% comment %} <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-starters">Starters</li>
            <li data-filter=".filter-salads">Salads</li>
            <li data-filter=".filter-specialty">Specialty</li>
          </ul>
        </div>
      </div> {% endcomment %}

      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
        {% for i in app_menu  %}

        <div class="col-lg-6 menu-item filter-starters">
          <img src="{{ i.image.url }}" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">{{ i.mname }}</a><span>{{ i.price }} rs</span>
          </div>
           <div class="menu-ingredients">
            {% comment %} <a href="menu_delete?id={{ i.id}}" class=" btn btn-success">Delete</a> {% endcomment %}
        </div> 
        </div>
             {% endfor %}
          
       </div>

    </div>
  </section><!-- End Menu Section -->

<br>
<br><br><br><br>


<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
<br>

    <div class="section-title">
      <h2>Connect</h2>
      <p>Location</p>
    </div>
  </div>

  {% for i in r  %}
  <div class="container" data-aos="fade-up">
    
      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>{{ i.location }}</p>
            </div>
            <br>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Opening Time:</h4>
              <p>{{ i.otime }}Am</p>
              <h4>Closing Time:</h4>

              <p>{{ i.ctime }}Pm</p>
            </div>
            <br>
          </div>
        </div>

      </div>
      

    </div>

  <div data-aos="fade-up">
    <iframe style="border:0; width: 100%; height: 350px;" src="{{ app.lmap }}" frameborder="0" allowfullscreen></iframe>
  </div>

  {% endfor %}

</section><!-- End Contact Section -->








  <main id="main">

  </main><!-- End #main -->


  {% endblock %}