{% extends 'restaurant/base.html' %}

{% load static %}


{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}



  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        {% comment %} <div class="col-lg-8">
          <h1><span>Restaurant Owner</span></h1>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Book a Table</a>
          </div>
        </div> {% endcomment %}
        <h2><span>Add Specials</span></h2>

        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          {% for i in app_update  %}


          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
       
           
            <div class="row mb-4">
              <div class="col-12">
                <div class="form-outline">
                  <input type="text" id="formControlLgExpk" name="stype"  placeholder="Special type" class="form-control form-control-lg" value="{{i.sstype}} " required=""/>
                  <br>
                </div>
              </div>
              <div class="col-12">
                <div class="form-outline">
                  <input type="text" id="formControlLgExpk" name="sname"  placeholder="Name of special" class="form-control form-control-lg"  value="{{i.sname}} "  required=""/>
                  <br>
                </div>
              </div>

              <div class="col-12">
                <div class="form-outline">
                  <input type="number"  name="price"  placeholder="Price" class="form-control form-control-lg"   value="{{i.price}} "   required=""/>
                  <br>
                </div>
              </div>
             <div class="col-12">
                <div class="form-outline">
                    <textarea class="form-control w-100" name="sdes"  cols="30" rows="5"   value="{{i.des}}" placeholder = 'Description' required ></textarea><br>
                </div>
              </div>
              <br> 

                  
              
              <div class="col-12">
                <div class="form-outline">
                 
                  <label>Upload Image</label>
                  <input  class="form-control form-control-lg" name="image" id="name" type="file" required/>
                  
                </div>
              </div>
             
              <div class="col-6">
                <div class="form-outline">
                  <br>
                  <button type="Submit" class="btn btn-success btn-lg btn-block">Add</button>
                </div>
              </div>
            </div>
        
            {% comment %} <button type="Submit" class="btn btn-success btn-lg btn-block">Register</button> {% endcomment %}
          </form>
        






{% comment %} 
          <form class="form-contact contact_form" action="" method="post" id="contactForm" novalidate="novalidate" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
              <input class="form-control" name="stype"  type="text"  placeholder = 'Type' value="{{i.stype}}">
              <br>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
              <input class="form-control" name="sname"  type="text"  placeholder = 'Name' value="{{i.sname}}">
              <br>
            </div>
        </div>
        
        <div class="col-sm-12">
            <div class="form-group">
              <input class="form-control" name="price"    type="text"  placeholder = 'Price' value="{{i.price}}">
              <br>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <textarea class="form-control w-100" name="sdes"  cols="30" rows="5"  placeholder = 'Description'></textarea>
              <br>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
              <input class="form-control" name="image"  type="file" placeholder = 'Photo'>
              <br>
            </div>
        </div>
       
    </div>
    <div class="form-group mt-3">
      <button type="submit" class="button button-contactForm btn_4 boxed-btn">Add</button>
    </div>
  </form> {% endcomment %}
  {% endfor %}
        </div> 

      </div>
    </div>
  </section><!-- End Hero -->







  {% endblock %}