{% extends 'restaurant/base.html' %}

{% load static %}


{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}



    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Menu</h2>
            <p>Check Our Tasty Menu</p>
          </div>
  
          {% comment %} <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="menu-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-starters">Starters</li>
                <li data-filter=".filter-salads">Salads</li>
                <li data-filter=".filter-specialty">Specialty</li>
              </ul>
            </div>
          </div> {% endcomment %}
  
          <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
            {% for i in app_menu  %}

            <div class="col-lg-6 menu-item filter-starters">
              <img src="{{ i.image.url }}" class="menu-img" alt="">
              <div class="menu-content">
                <a href="#">{{ i.mname }}</a><span>{{ i.price }} rs</span>
              </div>
               <div class="menu-ingredients">
                <a href="menu_delete?id={{ i.id}}" class=" btn btn-success">Delete</a>
            </div> 
            </div>
                 {% endfor %}
              
           </div>
  
        </div>
      </section><!-- End Menu Section -->

<br>
<br><br><br><br>





  {% endblock %}